{% extends "base.html.twig" %}

{% block body %}

    <h1>Customer interface</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Select products to buy</h2>
            <table id="products" class="table table-sm">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Seller</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Customer cart</h2>
            <form>
                <table id="cart" class="table table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Seller</th>
                        <th>Address</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                </table>
                <div class="mb-3">
                    <label for="customerAddress" class="form-label">Your address</label>
                    <input type="atext" class="form-control" id="customerAddress" placeholder="">
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <b>Total price: <span data-total>0</span></b> |
                        <b>Shipping cost: <span data-shipping>???</span></b>
                    </div>
                </div>
                <input type="button" class="btn btn-primary" data-calc value="Calculate shipping cost">
                <input type="button" class="btn btn-primary" data-place-order value="Place order">
            </form>
        </div>
    </div>
    <hr>
    <h1>Seller interface</h1>
    <hr>
    <table id="orders" class="table table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Delivery Address</th>
            <th>Status</th>
            <th>Created</th>
            <th>Delivered</th>
            <th>Courier</th>
            <th>Products Total</th>
            <th>Delivery Total</th>
            <th>Grand Total</th>
            <th></th>
        </tr>
        </thead>
    </table>

    <pre id="orderInfo"></pre>
    <hr>
    <h1>Courier interface</h1>
    <hr>
    <table id="courierOrders" class="table table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Delivery Address</th>
            <th>Status</th>
            <th>Created</th>
            <th>Delivered</th>
            <th>Courier</th>
            <th>Grand Total</th>
            <th></th>
        </tr>
        </thead>
    </table>
    <hr class="mt-5">
    <script>
        $(document).ready(function () {
            const customer = new Customer("{{ path('api.shipping.calc') }}", "{{ path('api.order.place') }}", "{{ path('api.products.list') }}");
            customer.init();
            const seller = new Seller(
                "{{ path('api.orders.list') }}",
                "{{ path('api.order.setCourier', {id: 1, courierId: 2})|replace({'1': '{1}', '2': '{2}'}) }}",
                "{{ path('api.couriers.list') }}",
                "{{ path('api.order.view', {id: 1})|replace({'1': '{1}'}) }}");
            seller.init();
            const courier = new Courier("{{ path('api.orders.list') }}", "{{ path('api.order.delivered', {id: 1}) }}");
            courier.init();
            customer.setSellerInterface(seller);
            seller.setCourierInterface(courier);
            courier.setSellerInterface(seller);
        });
    </script>

    <script src="assets/customer.js"></script>
    <script src="assets/seller.js"></script>
    <script src="assets/courier.js"></script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
{% endblock %}